

.bg-portafolio-nav{
    background-color: rgb(71, 179, 60);
}

.btn-primary-p{
    padding: 12px 40px;
    color: aliceblue;
    background: rgb(5, 112, 11);
    border-radius: 10px;
    text-decoration: none;
    font-size: 18px;
    transition: .5s;


}
#services{
    text-align: center;
    padding: 100px 0;
}

#services h2{
    margin-bottom: 40px;
}

#juego{
    text-align: center;
    padding: 100px 0;
}

#juego h3{
    color: rgb(93, 206, 0);
    font-size:  45px;
    margin-bottom: 45px;
}

#juego p{
    font-size: 20px;

}
#juego img{
    width: 500px;
    max-width: 100%;
}

#services h2{
    margin-bottom: 40px;
}



#p{
    text-align: center
    padding 50px;
    background-color: rgb(15, 39, 13);
    
}

#carouselheroCaptions .carousel-caption{
    position: absolute;
    z-index: 9;
    bottom: 50%;
}

#carouselheroCaptions .carousel-caption h5{
    font-size: 50px;
}

#carouselheroCaptions .carousel-caption p{
    font-size: 20px;
}

#carouselheroCaptions .carousel-indicators{
    bottom: 40%;
}

#carouselheroCaptions .carousel-indicators button{
    width: 24px;
    height: 20px ;
    border-radius: 50%;
}

#juego img{
    width: 500px;
    max-width: 100%;
}

#services .item-servicios{
    padding-bottom: 30px;
    padding-top: 15px;
    transition: .5s;
}

#services .item-servicios:hover{
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.WhatsApp{
    position: fixed;
    right: 10px;
    bottom: 20px;
    z-index: 99;
}

.WhatsApp{
    -webkit-box-shadow: 0px 0px 6px 10px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 6px 10px rgba(0,0,0,0.75);
box-shadow: 0px 0px 6px 10px rgba(0,0,0,0.75);
}

#Blog img{
width: 500px;
max-width: 100%;
}

#Blog{
    padding: 50px;
    background: grey;

}
#Blog h2{
    text-align: center;
}


#JavaScript{
    width: 100%;
    height: 100 vh;
    position: relative;
    padding: 120px 0;
    background: black;
    overflow: hidden;
    z-index: 0;
    transition: .5s;

}
#Panel_lateral{
    width: 30%;
    height: 100vh;
    background: rgb(61, 54, 54);
    border-right: 4px solid gray;
    position: absolute;
    top: 0px;
    left: -30%;
    z-index: 9;
    transition: .5s;
    }

#Panel_lateral.active{
        left: 0;
    }
#Pane_lateral .close-panel{
    position: absolute;
    right: 30px;
    top: 30px;
}
#Panel_lateral h3{
    margin-top: 60px;
    text-align: center;
    color: white;
}
#Panel_lateral ul{
    width: 60%;
    margin: 100px auto;
    text-align: center;


}

#Panel_lateral li{
    list-style: none;
}

#Panel_lateral li a{
    text-decoration: none;
    display: block;
    padding: 12px;
    background: black;
    border: 1 px solid aquamarine;
    color: white;
    margin: 15px;
}


#Panel_Superior{
    width: 30%;
    height: 100vh;
    background: rgb(23, 59, 29);
    border-right: 4px solid rgb(4, 7, 5);
    position: absolute;
    top: 0px;
    right: -30%;
    z-index: 9;
    transition: .5s;
    }

#Panel_Superior.active1{
        top: 0;
    }
#Panel_Superior.close-panel1{
    position: absolute;
    left: 30px;
    top: 30px;
}
#Panel_Superior h3{
    margin-top: 60px;
    text-align: center;
    color: white;
}
#Panel_Superior ul{
    width: 60%;
    margin: 100px auto;
    text-align: center;
}

#Panel_Superior li{
    list-style: none;
}

#Panel_Superior li a{
    text-decoration: none;
    display: block;
    padding: 12px;
    background: black;
    border: 1 px solid rgb(76, 100, 92);
    color: white;
    margin: 15px;
}




#JavaScript h2{
    color: aliceblue;
    margin-bottom: 20px;
}

#JavaScript button{
    background: black;
    color: aquamarine;
    border: 1px solid aquamarine;
    margin: 5px 8px;
    border-radius: 4px solid gray;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    transition: .5s;z-index: 9;
    transition: .5s;
}
#javaScript button:hover{
    background: green;
    color: aliceblue;
}
#JavaScript hr{
    border-color: white;

}
#figura{
    width: 200px;
    height: 200px;
    background: aquamarine;
    margin: 40px auto;
    transition: 1s;

}

#JavaScript.figura{
    text-align: center;
    float: left ;
    width: 500px;
    max-width: 100%;
}

#figura.Circulo{
    border-radius: 50%;
    transform: rotate(-360deg);
    background: white;
    border: 2px solid rgb(116, 116, 170); 

}

#figura.hor{
    width: 400px;
}

#figura.top{
    transform: translateY(-100px);
}

#figura.Right{
    transform: translateX(100px);
}

#figura.Left{
    transform: translateX(-100px);
}